<!-- // edit -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Company</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container p-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <form
                id="editcompanyForm"
                onsubmit="return false"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <input
                    type="hidden"
                    name="ecid"
                    id="ecid"
                  />
                </div>

                <div class="form-group">
                  <label class="form-label">Enter Company name *</label>
                  <input
                    type="text"
                    name="ecompanyname"
                    id="ecompanyname"
                    class="form-control"
                    placeholder="Enter Company name"
                  />
                </div>

                <div class="form-group">
                  <label class="form-label">Enter salery*</label>
                  <input
                    type="number"
                    name="esalery"
                    id="esalery"
                    class="form-control"
                    placeholder="Enter salery"
                  />
                </div>

                <div class="form-group">
                  <label class="form-label">Enter Joining date*</label>
                  <input
                    type="date"
                    name="ejoindate"
                    id="ejoindate"
                    class="form-control"
                    placeholder="Enter joining date"
                  />
                </div>

                <div class="form-group">
                  <label class="form-label">Enter degination *</label>
                  <input
                    type="text"
                    name="edegination"
                    id="edegination"
                    class="form-control"
                    placeholder="Enter degination"
                  />
                </div>

                <div class="form-group">
                  <label class="form-label">Uploads letter</label>
                  <input
                    type="file"
                    name="docs"
                    id="edocs"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label class="form-label">Enter remark</label>
                  <textarea
                    class="form-control"
                    name="eremark"
                    id="eremark"
                    placeholder="Enter remark"
                    rows="3"
                  ></textarea>
                </div>

                <button
                  type="submit"
                  id="updateCompanybtn"
                  class="btn btn-primary"
                  onclick="updateEditForm()"
                >
                  Update Company
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- add salery -->

<div class="container-fluid">
  <% if(companyData.length){ %>
  <h4 class="mt-4 h3">View All Company</h4>
  <table
    id="datatables-dashboard-projects"
    class="table mt-5 table-striped my-0 dataTable no-footer"
  >
    <thead>
      <tr role="row">
        <th>Sno.</th>
        <th>Company name</th>
        <th>Join data</th>
        <th>Since</th>
        <th>degination</th>
        <th>letter</th>
        <th>Salery</th>
        <th>remark</th>
        <th>status</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <% companyData.forEach((compdata,i)=>{ %>
      <tr role="row" class="odd">
        <td><%= i+1 %></td>
        <td><%= compdata.companyname %></td>
        <td><%= new Date(compdata.joindate).toLocaleDateString() %></td>
        <td><%= new Date(compdata.joindate).getMonth() %> Months</td>
        <td><%= compdata.degination %></td>
        <td>
          <% if(compdata.letter && compdata.letter != undefined) { %>
          <span>Active</span>
          <% } else { %>
          <span>Not Found</span>
          <% } %>
        </td>
        <td>
          <span class="badge badge-success"><%= compdata.salery %></span>
        </td>

        <td><%= compdata.remark %></td>
        <td>
          <% if(compdata.isactive) { %>
          <span>Active</span>
          <% } else { %>
          <span>Leave</span>
          <% } %>
        </td>
        <td>
          <a
            href="/deletecompany/<%= compdata._id %>"
            class="btn btn-sm btn-danger"
            >Delete</a
          >
          <a
            href="#"
            id="editCompany"
            data-toggle="modal"
            class="btn btn-sm btn-success"
            data-target="#staticBackdrop"
            onclick='editCompany("<%= compdata._id %>")'
            >Edit</a
          >
          <a
            href="#"
            class="btn btn-sm btn-secondary"
            >Add salery</a
          >
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% }else{ %>
  <h1>No Company found</h1>
  <% } %>
</div>
